.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1em;
  padding: 0 0 100px 0;
}

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.card-buttons {
  display: flex;
  grid-gap: 10px;
}

.img-responsive {
  object-fit: contain;
  flex-grow: 1;
}
