<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Title" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput formControlName="title" placeholder="Price" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput formControlName="title" placeholder="Year" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Chip</mat-label>
    <input matInput formControlName="title" placeholder="Chip" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>SSD</mat-label>
    <input matInput formControlName="title" placeholder="SSD" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Memory</mat-label>
    <input matInput formControlName="title" placeholder="Memory" />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Display</mat-label>
    <input matInput formControlName="title" placeholder="Display" />
  </mat-form-field>
  <div class="button-group">
    <button mat-flat-button color="primary" type="submit">
      {{ isNewProduct ? "Добавить" : "Обновить" }}
    </button>
    <button mat-flat-button (click)="onNoClick()" type="button">Отмена</button>
  </div>
</form>
